# Ignore virtual environment folder
venv/

# Ignore files in the Lib/site-packages folder (virtual environment packages)
venv/Lib/site-packages/


# Ignore the database file (but not *.py files)
database/database.db

# Ignore IDE specific files (like VS Code settings) but keep the Python code files
.vscode/

# Ignore other unnecessary Python files (but keep the .py files you want to track)
*.pyc

# Optional: Ignore temporary files you don't need in Git
*.swp
*.bak
*.log
